html {
  font-family: 'Open Sans', sans-serif;
  color: #333c45;
  font-weight: 300;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: 'Volkhov', serif;
}

label {
  font-weight: 700;
}

input, textarea { display: block;
  width: 100%;
  border-radius: 0.2em; margin-bottom: 0.75em; box-shadow: none; -webkit-appearance: none;
  border: 1px solid #ccc;
  padding: 0.25em 0.5em;
}

button {
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  color: #333C45;
  border: 1px solid #333C45;
  padding: 0.25em 1em;
  border-radius: 5em;
  transition: background 200ms ease-in-out;
}

button:hover {
  color: #fff;
  background: #333C45;
}

button:active,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #333C45;
}

a:hover {
  color: #546271;
  text-decoration: underline;
}

::selection {
  background:  #FFD966;
}
